# OS
.DS_Store
backend/.DS_Store
frontend/.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# VSCode
.vscode
backend/.vscode
frontend/.vscode

# Database Files
backend/*.db
backend/*.sqlite
backend/*.sqlite3

# Python
**/__pycache__/

# Virtual Environment
backend/.venv/
backend/venv/
backend/ENV/

# Frontend
frontend/node_modules/
frontend/ios/
frontend/android/
frontend/package-lock.json